<!-- Header section -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">BRANDING</a>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">CONTACT US
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Header end -->
  
  
  <div class="container" style="padding-top: 90px">
    <div class="row">
        <div class="col">
          <h2>Sign up</h2>
         </div>  
         <div class="col">
            <a href="#" class="div-right" style="text-decoration: underline;">ALREADY A MEMBER? SIGN IN</a>
           </div> 
      </div>

      <!--Form start  -->
    <form class="form" role="form">
      <!-- Add credentials -->
      <div class="row signup-form">
          <div class="col">
            <strong>Add credentials</strong>
           </div>        
      </div>  

      <div class="row">
          <div class="col">
            <span>Create username and password.</span>
           </div>  
           <div class="col">
              <span class="form-info-right">* = mandatory fields</span>
             </div> 
        </div>
      <hr>

      <div class="form-row">
          <div class="form-group col-md-3">
              <label for="uname1">Username*</label>
              <input type="text" class="form-control" name="uname1" placeholder="Enter a user name" required="">
              <div class="invalid-feedback">Please enter your username or email</div>
          </div>
     </div>

     <div class="form-row">
        <div class="form-group col-md-3">
            <label for="uname1">Password*</label>
            <input type="text" class="form-control" name="uname1" placeholder="Enter a password" required="">
            <div class="invalid-feedback">Please enter your username or email</div>
        </div>
        <div class="form-group col-md-3">
            <label for="uname1">Confirm password*</label>
            <input type="text" class="form-control" name="uname1" placeholder="Enter a password again" required="">
            <div class="invalid-feedback">Please enter your username or email</div>
        </div>
      </div>  

      <!-- Add business information -->

      <div class="row signup-form">
          <div class="col">
            <strong>Add business information</strong>
           </div>        
      </div> 
      <div class="row">
          <div class="col">
            <span>Add information about your own business</span>
           </div>  
           <div class="col">
              <span class="form-info-right">* = mandatory fields</span>
             </div> 
      </div>
      <hr>
      <div class="form-row">
          <div class="form-group col-md-3">
              <label for="uname1">Business name*</label>
              <input type="text" class="form-control" name="uname1" placeholder="Enter your entity name here" required="">
              <div class="invalid-feedback">Please enter your username or email</div>
              
        </div>     
     </div>

     <div class="form-row">
        <div class="form-group col-md-3">
            <label for="uname1">Email address*</label>
            <input type="text" class="form-control" name="uname1" placeholder="Enter your business email here" required="">
            <div class="invalid-feedback">Please enter your username or email</div>
            
      </div> 
      <div class="img-row row">
          <div class="form-group col-md-3">
              <img src="//placehold.it/300" class="rounded-circle" height="160" />
              <div class="centered"> <a href="#" style="text-decoration: underline">REMOVE</a></div>
          </div>
          <div class="row image-upload">
          <div class="form-group col-md-3">
              <input type="file" class="form-control-file"  aria-describedby="fileHelp">
             
          </div>
          <div class="form-group col-md-3">
              <button class="btn btn-primary">UPLOAD</button>
            </div>
          </div>  
      </div>    
   </div>
   <!-- <div class="container">
      <div class="row">
          <div class="col-xs-7">
              <img src="//placehold.it/300" class="rounded-circle" />
          </div>
      </div>
  </div> -->
     <div class="row">
        <div class="col">
         <button type="button" class="btn btn-primary">START AGAIN</button>
         </div>  
         <div class="col">
            <span class="form-info-right">
               <button type="button" class="btn btn-success">CONFIRM</button>
              </span>
           </div> 
    </div>
  </form>

    </div>  
  <!-- End -->
  
  